<div class="cabecalho">
  <div class="fundo">
    <div class="detalhe-lateral">
      <div class="titulo">
        <a>Tarefas</a>
      </div>
    </div>
  </div>
</div>
<div class="conteudo">
  <div class="card">
    <div class="fundo">
      <div class="supetapa">
        <div class="card_detalhe" cdkDrag></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="fundo">
      <div class="supetapa">
        <div class="card_detalhe" cdkDrag></div>
      </div>
    </div>
  </div>
</div>
